.container {
  @apply w-full;
  @apply flex;
  @apply p-3;
  border-radius: 5px;
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
  @apply text-center;
  @apply rounded-lg;
}

.text {
  @apply pl-8;
}
