.container {
  height: 73vh;
}

.item_wrapper {
  @apply mb-5;
  @apply w-full;
  @apply h-full;
  @apply overflow-y-scroll;

  /* Hide scroll bar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  @apply flex;
  @apply flex-col;
  @apply gap-y-2;
}

.item_wrapper::-webkit-scrollbar {
  display: none;
}
