.wrapper {
  @apply h-screen;
  @apply w-screen;
  text-align: center;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.container {
  @apply max-w-7xl;
  @apply mx-auto;
  @apply flex;
  @apply flex-col;
  @apply gap-y-10;
}
